<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_1__1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{598,811},{174,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,210}</string>
                <key>spriteSourceSize</key>
                <string>{379,210}</string>
                <key>textureRect</key>
                <string>{{426,227},{379,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,214}</string>
                <key>spriteSourceSize</key>
                <string>{395,214}</string>
                <key>textureRect</key>
                <string>{{1,230},{395,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,216}</string>
                <key>spriteSourceSize</key>
                <string>{358,216}</string>
                <key>textureRect</key>
                <string>{{638,227},{358,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,208}</string>
                <key>spriteSourceSize</key>
                <string>{341,208}</string>
                <key>textureRect</key>
                <string>{{388,618},{341,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,200}</string>
                <key>spriteSourceSize</key>
                <string>{331,200}</string>
                <key>textureRect</key>
                <string>{{1,627},{331,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,22}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{145,47}</string>
                <key>textureRect</key>
                <string>{{766,194},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{180,184}</string>
                <key>textureRect</key>
                <string>{{764,587},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,201}</string>
                <key>spriteSourceSize</key>
                <string>{164,201}</string>
                <key>textureRect</key>
                <string>{{598,608},{164,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,178}</string>
                <key>spriteSourceSize</key>
                <string>{170,178}</string>
                <key>textureRect</key>
                <string>{{774,773},{170,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,189}</string>
                <key>spriteSourceSize</key>
                <string>{191,189}</string>
                <key>textureRect</key>
                <string>{{766,1},{191,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,183}</string>
                <key>spriteSourceSize</key>
                <string>{271,183}</string>
                <key>textureRect</key>
                <string>{{203,627},{271,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion_1__7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,227}</string>
                <key>spriteSourceSize</key>
                <string>{389,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{389,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,224}</string>
                <key>spriteSourceSize</key>
                <string>{372,224}</string>
                <key>textureRect</key>
                <string>{{392,1},{372,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_1__9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,207}</string>
                <key>spriteSourceSize</key>
                <string>{386,207}</string>
                <key>textureRect</key>
                <string>{{217,230},{386,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explosion_1.png</string>
            <key>size</key>
            <string>{956,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d81d95a1a840b1a91c85b0c76d1735:549c59f4726c4f18f14026032ae28150:8031745d3505bb755570f03cf85c7af7$</string>
            <key>textureFileName</key>
            <string>explosion_1.png</string>
        </dict>
    </dict>
</plist>
